$serif-primary: "Source Serif 4";
$serif-secondary: "Source Serif 4";
$sans-serif: "Inter";
$monospaced: "Source Code Pro" !default;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

// Turn colors into SCSS variables
$default-color: var(--default-color);
$default-shade: var(--default-shade);
$default-tint: var(--default-tint);
$grey: var(--grey);
$shadow-color: var(--shadow-color);
$code-color: var(--code-color);
$background-color: var(--background-color);
$blockquote-color: var(--blockquote-color);
