<footer>
    <span class="copyright">
        {%- if config.extra.footer -%}
            © 2025 {{ config.extra.author | default(value="Miguel Pimentel") }}. {{ config.extra.footer.info |
            default(value='Powered by Zola and Mabuya.') | safe }}
        {%- else -%}
            © 2025 Miguel Pimentel. Powered by <a href="https://www.getzola.org"><u>Zola</u></a> and <a href="https://github.com/semanticdata/mabuya">Mabuya</a>.
        {%- endif -%}
    </span>
    <nav class="navigation-footer">
        <ul>
            <li>
                <a href="https://github.com/hejops">GitHub</a>
            </li>
        </ul>
    </nav>
</footer>

